<div>
  <div>
    <div class="row">
      <h3>{{shapetree.label}}</h3>
      <mat-slide-toggle [checked]="checkedAccess.length > 0" [disabled]="need.required" (change)="toggleNeed($event)"></mat-slide-toggle>
      <mat-icon *ngIf="need.required" matTooltip="This access is required and cannot be disabled" matTooltipPosition="left">info</mat-icon>
    </div>
    <div class="padded">
      <p>{{need.label}}</p>
    </div>
        <mat-chip-list>
<!--      TODO after updating to Angular 15 change to use mat-chip-options to enable/disable the access levels -->
      <mat-chip *ngFor="let access of checkedAccess" (removed)="removeAccess(access)">
<!--        TODO use a map to find the string to show, add in translations -->
        {{access.split('#').pop()}}
        <button matChipRemove *ngIf="!need.required"><mat-icon>cancel</mat-icon></button>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
