@use 'src/assets/styles/sdk-theme';
@use '@angular/material' as mat;
@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$theme-typo-level: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$theme-primary: mat.define-palette(sdk-theme.$theme-primary-color);
$theme-accent: mat.define-palette(sdk-theme.$theme-secondary-color);
$theme-warn: mat.define-palette(sdk-theme.$theme-warn-color);

$theme-palette: mat.define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn
  )
));

$second-theme-primary: mat.define-palette(sdk-theme.$second-theme-primary-color);
$second-theme-accent: mat.define-palette(sdk-theme.$second-theme-secondary-color);
$theme-warn: mat.define-palette(sdk-theme.$theme-warn-color);

$second-theme-palette: mat.define-light-theme((
  color: (
    primary: $second-theme-primary,
    accent: $second-theme-accent,
    warn: $theme-warn
  )
));

// Change the name of the theme that want to be apply
@include mat.all-component-themes($second-theme-palette);
